!!!
%html
  %head
    %title TryCvSplit
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    .ui.container
      .ui.menu
        %a.item{:href => "/"} TryCvSplit
      .ui.grid
        .four.wide.column
          .ui.menu.vertical
            - if request.path == "/books"
              %a.active.item{:href => "/books"} Books
            - else
              %a.item{:href => "/books"} Books
        .twelve.wide.column
          = yield
